<form action="/cities/<%= @city.id %>/parks" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <h2>Add New Park Info for <%= @city.name %></h2>

  <p><lable>Park Name:
  <input type='text' name='name' placeholder='City Park'required/></lable></p>

  <p><lable>How many total acres is this Park?
  <input type='number' name='acres' placeholder='200' required></lable></p>

  <p><lable>Does this Park have a Visitor Center?</lable></p>
  <p><lable><input type='radio' name='visitor_center' id='visitor_center_yes' value='true'> Yes </lable>
  <lable><input type='radio' name='visitor_center' id= 'visitor_center_no' value='false' checked> No </lable></p>

  <p><lable>Does this Park have a Playground?</lable></p>
  <p><lable><input type='radio' name='playground' id='playground_yes' value='true' checked> Yes </lable>
  <lable><input type='radio' name='playground' id= 'playground_no' value='false'> No </lable></p>

  <p><lable>What hour does the Park open?
  <input type='number' name='opening_hour' placeholder='5 AM' required></lable></p>

  <p><lable>What hour does the Park close?
  <input type='number' name='closing_hour' placeholder='10 PM' required></lable></p>

  <input type='submit' value='Add Park'/>
</form>