<nav style="background-color:AntiqueWhite; font-size:20px;padding:10px;">
    <a href="/cities" style="margin: 20px;">City Index</a>
    <a href="/parks" style="margin: 20px;">Park Index</a>
</nav>

<h1>Cities Index</h1>

<% @cities.each do |city| %>
  <p>
    <b><%= city.name %></b>
    <%="(created: #{city.created_at.strftime("%m/%d/%Y")})" %>
  </p>
  <% end %>