<nav style="background-color:AntiqueWhite; font-size:20px;padding:10px;">
    <a href="/cities" style="margin: 20px;">City Index</a>
    <a href="/parks" style="margin: 20px;">Park Index</a>
</nav>

<h2>Please fill in this form to add a new City.</h2>

<form action="/cities" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <p><lable>City Name:
  <input type='text' name='name' placeholder='City'required/></lable></p>

  <p><lable>City Population:
  <input type='number' name='population' placeholder='1,000,000' required></lable></p>

  <p><lable>Is this City the State Capital?</lable></p>
  <p><lable><input type='radio' name='state_capital' id='Yes' value='true'> Yes </lable>
  <lable><input type='radio' name='state_capital' id= 'No' value='false' checked> No </lable></p>

  <input type='submit' value='Add City'/>
</form>